@import './variables';

.header {
  background: url('../components/pages/pageComponents/images/header.png') no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 120px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 450px;
    height: 380px;
    top: 0;
    left: 0;
    background: url('../components/pages/pageComponents/images/star.png') no-repeat;
    z-index: 0;
  }

  &__wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px solid $red;
  }

  &__title {
    font-size: 100px;
    font-weight: bold;
    color: $white;
    margin: 0 0 60px;  
  }
}

.navigation {
  display: flex;

  &__list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-size: 14px;
    font-weight: bold;
    color: $dark_grey;
    text-decoration: none;
    text-transform: uppercase;
    width: 175px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    position: relative;
    z-index: 2;

    &--active {
      color: $white;
      background-color: $red;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {

    padding-top: 90px;
    background: url('../components/pages/pageComponents/images/header_small.png') no-repeat;

    &::before {
      display: none;
    }

    padding-left: 20px;
    padding-right: 20px;

    &__title {
      font-size: 48px;
      margin-bottom: 30px;
    }
  }

  .navigation {
    
    &__item {
      width: 115px;
      height: 50px;
      font-size: 12px;
      line-height: 50px;
    }
  }
}
